<input type="button" value="Добавить новую группу" class="btn btn-success" (click)="addGroup()" />
<table class="table table-striped">
    <thead>
        <tr>
            <td>Название группы</td>
            <td>Нижний диапозон</td>
            <td>Верхний диапозон</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of groups">
            <ng-template [ngTemplateOutlet]="loadTemplate(group)" 
                        [ngTemplateOutletContext]="{ $implicit: group}">
            </ng-template>
        </tr>
    </tbody>
</table>

<ng-template #readOnlyTemplate let-group>
    <td>{{group.number}}</td>
    <td>{{group.minValue}}</td>
    <td>{{group.maxValue}}</td>
    <td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editGroup(group)" />
    </td>
    <td>
        <input type="button" value="Удалить" class="btn btn-danger" (click)="deleteGroup(group)" />
    </td>
</ng-template>

<ng-template #editTemplate>
        <td>
            <input type="text" [(ngModel)]="editedGroup.number" class="form-control" />
        </td>
        <td>
            <input type="number" [(ngModel)]="editedGroup.minValue" class="form-control" />
        </td>
        <td>
            <input type="number" [(ngModel)]="editedGroup.maxValue" class="form-control" />
        </td>
        <td>
            <input type="button" value="Сохранить" (click)="saveGroup()" class="btn btn-success" />
        </td>
        <td>
            <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
        </td>
    </ng-template>